<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
  <main class="flex-parent">
    <% Object.keys(kitties).forEach(function (id) { %>
      <article class="flex-item">
        <figure><img src="/images/<%= kitties[id].slug %>.jpg" alt="<%= kitties[id].name %>"></figure>
        <a href="<%= kitties[id].slug %>"><h2><%= kitties[id].name %></h2></a>
        <p>Age: <%= kitties[id].age %></p>
      </article>
    <% }) %>
  </main>
</body>
</html>
