<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body class="kitty-profile">
  <% include ../partials/header %>
  <% include ../partials/nav %>

  <article>
    <figure>
      <img src="/images/<%= kitty.slug %>.jpg" alt="<%= kitty.name %>">
    </figure>
    <section class="stats">
      <h2><%= kitty.name %></h2>
      <p><strong>Age:</strong> <%= kitty.age %></p>
      <p><strong>Lives with:</strong> <%= kitty.lives_with %></p>
    </section>
  </article>

</body>
</html>
