<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
  <% include ../partials/nav %>

  <article>
    <figure>
      <img src="/images/<%= kitties[0].slug %>.jpg" alt="<%= kitties[0].name %>">
    </figure>
    <h2><%= kitties[0].name %></h2>
    <p><strong>Age:</strong> <%= kitties[0].age %></p>
    <p><strong>Lives with:</strong> <%= kitties[0].lives_with %></p>
  </article>

</body>
</html>
